<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/authenticated}">
<head>
    <title>Edit Doc</title>
</head>
<body>
<div layout:fragment="content">
    <div class="col-12 bg-gray">

        <form class="form-signin was-validated" th:action="@{/chat/}" method="post" th:object="${chat}">

            <div class="row">
                <input name="chatEntity.id" type="hidden" th:value="*{id}">

                <div class="col-sm-2 col-12">
                    <label for="title">Name:</label>
                </div>
                <div class="col-sm-5 col-12 text-left">
                    <input name="chatEntity.title" type="text" id="title" class="form-control"
                           placeholder="Название чата" required autofocus th:value="*{name}">
                </div>

                <div class="col-sm-5 col-12 text-left">
                </div>
                <div class="col-sm-2 col-12">
                    <label for="title">Участники:</label>
                </div>
                <div class="col-sm-5 col-12 text-left">
                    <select class="select-two" name="UserIds[]" multiple="multiple">
                        <th:block th:each="user : ${userList}">
                            <option th:value="${user.getId()}" th:text="${user.getFIO()}">Alabama</option>
                        </th:block>
                    </select>
                </div>

                <div class="col-sm-5 col-12 text-left">
                </div>


                <div class="actions col-12">
                    <button class="btn btn-success text-uppercase" type="submit">Save</button>
                    <a class="btn btn-secondary" th:href="@{/chat/}">Back</a>
                </div>

            </div>
        </form>
    </div>
</div>
</body>
</html>