<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/authenticated}">
<head>
    <title>Edit order</title>
</head>
<body>
<div layout:fragment="content">
    <form class="form-signin was-validated" th:action="@{/order/}" method="post"   modelAttribute="orderEntity" th:object="${order}">

        <div class="row">
            <input type="hidden" th:field="*{id}" name="id">
            <input type="hidden" th:field="*{state}" name="state">


            <div class="col-sm-2 col-12">
                <label for="title">Исполнитель:</label>
            </div>
            <div class="col-sm-10 col-12 text-left">

                <div>

                    <select class="js-example-basic-single js-states form-control" type="integer" id="manager"
                            name="manager">
                        <th:block th:each="user : ${userList}">
                            <option th:value="${user.getId()}" th:selected="${user.getId().equals(order.managerId)}"
                                    th:text="${user.getFIO()}"></option>
                        </th:block>
                    </select>
                </div>

            </div>
            <div class="col-sm-2 col-12">
                <label for="title">Приказ:</label>
            </div>
            <div class="col-sm-10 col-12 text-left">
                <input name="num" type="text" id="num" class="form-control"
                       placeholder="Введите номер приказа" required autofocus th:field="*{num}">
            </div>

            <div class="col-sm-2 col-12">
                <label for="title">Приказ от:</label>
            </div>
            <div class="col-sm-10 col-12 text-left">
                <input name="at" type="date" id="at" class="form-control"
                       placeholder="Выберите дату" required autofocus th:field="*{at}">
            </div>
            <div class="col-sm-2 col-12">
                <label for="title">Заголовок:</label>
            </div>
            <div class="col-sm-10 col-12 text-left">
                <input name="title" type="text" id="title" class="form-control"
                       placeholder="Введите заголовок приказа" required autofocus th:field="*{title}">
            </div>

            <div class="col-sm-2 col-12">
                <label for="text">Текст:</label>
            </div>
            <div class="col-sm-10 col-12 text-left">
                <textarea id="text" class="form-control" required name="text" th:field="*{text}"></textarea>
            </div>
            <div class="col-sm-2 col-12" id="titleList">
                <label for="text">Лист с задачами:</label>
            </div>
            <div class="col-sm-10 col-12 text-left" id="checklist">
                <div class="check-list">
                    <ul id="incomplete-tasks">
                        <li th:each="checkItem,iter : *{checkListItemsById}">

                            <input th:name="'checkListItemsById['+${iter.index}+'].name'"  type="text" th:value="${checkItem.name}" >
                            <input th:name="'checkListItemsById['+${iter.index}+'].id'" type="hidden" th:value="${checkItem.id}" >
                            <input th:name="'checkListItemsById['+${iter.index}+'].dateStartWork'"  type="hidden" th:value="${checkItem.getDateStartWork()}" >
                            <input th:name="'checkListItemsById['+${iter.index}+'].dateEndWork'"  type="hidden" th:value="${checkItem.getDateEndWork()}" >
                            <button type="button" class="btn delete btn-danger">Delete</button>
                        </li>

                    </ul>
                    <button type="button" class="btn btn-success" id="addButton">Добавить пунк чеклиста</button>
                </div>
            </div>

            <div class="actions col-12">
                <button class="btn btn-success text-uppercase" type="submit">Save</button>
                <a class="btn btn-secondary" th:href="@{/order/}">Back</a>
                <!--                <a class="btn btn-secondary"  onclick="disp(document.getElementById('checkbox'))" >Добавить лист с задачами</a>-->
            </div>

        </div>
    </form>
</div>

</body>
</html>