<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/authenticated}">
<head>
    <title>Edit Doc</title>
</head>
<body>
<div layout:fragment="content">
    <form class="form-signin was-validated" th:action="@{/order/}" method="post" th:object="${order}">

        <div class="row">
            <input type="hidden" th:field="*{id}" name="id">
            <input type="hidden" th:field="*{state}" name="state">


            <div class="col-sm-2 col-12">
                <label for="title">Исполнитель:</label>
            </div>
            <div class="col-sm-10 col-12 text-left">

                <div>

                    <select class="js-example-basic-single js-states form-control" type="integer" id="manager" name="manager" >
                        <th:block th:each="user : ${userList}">
                            <option  th:value="${user.getId()}" th:selected="${user.getId().equals(order.managerId)}" th:text="${user.getFIO()}" ></option>
                        </th:block>
                    </select>
                </div>

            </div>
            <div class="col-sm-2 col-12">
                <label for="title">Приказ:</label>
            </div>
            <div class="col-sm-10 col-12 text-left">
                <input name="title" type="text" id="num" class="form-control"
                       placeholder="form-control" required autofocus th:field="*{num}">
            </div>

            <div class="col-sm-2 col-12">
                <label for="title">Приказ от:</label>
            </div>
            <div class="col-sm-10 col-12 text-left">
                <input name="title" type="date" id="at" class="form-control"
                       placeholder="form-control" required autofocus th:field="*{at}">
            </div>
            <div class="col-sm-2 col-12">
                <label for="title">Заголовок:</label>
            </div>
            <div class="col-sm-10 col-12 text-left">
                <input name="title" type="text" id="title" class="form-control"
                       placeholder="First Name" required autofocus th:field="*{title}">
            </div>

            <div class="col-sm-2 col-12">
                <label for="text">Текст:</label>
            </div>
            <div class="col-sm-10 col-12 text-left">
                <textarea id="text" class="form-control" required name="text" th:field="*{text}"></textarea>
            </div>

            <div class="actions col-12">
                <button class="btn btn-success text-uppercase" type="submit">Save</button>
                <a class="btn btn-secondary" th:href="@{/order/}">Back</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>