<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/authenticated}">
<head>
    <title>Home</title>
</head>
<body>
<div layout:fragment="content" th:with="baseUrl=('/order/'+${order.id})">
    <div id="formOrder" class="row d-print-none bg-gray">
        <div class="col-12">
            <h3>
                <span>Просмотр приказа №</span>
                <span th:text="${order.num}"> </span>
            </h3>
        </div>
        <div class="col-12">
            <a class="btn btn-secondary" th:href="@{/order/}">Назад</a>
            <a class="btn btn-outline-primary" th:if="${userRole == 1 and order.getState() == 0}"
               th:href="@{${baseUrl} + '/send'}"> Отправить</a>
            <a class="btn btn-outline-warning" th:if="${order.getState()==0 and userRole==1 }"
               th:href="@{${baseUrl}+'/edit'}">Редактировать</a>
            <a class="btn btn-outline-danger" th:if="${userRole == 1}" th:href="@{${baseUrl}+'/delete'}">Удалить</a>
        </div>


        <div class="col-sm-2 col-12">
            Исполнитель:
        </div>
        <div class="col-sm-10 col-12 text-left" th:text="${order.manager.getFIO()}">
        </div>

        <div class="col-sm-2 col-12">
            Приказ:
        </div>
        <div class="col-sm-10 col-12 text-left" th:text="${order.num}">
        </div>

        <div class="col-sm-2 col-12">
            Приказ от:
        </div>
        <div class="col-sm-10 col-12 text-left" th:text="${order.at}">
        </div>

        <div class="col-sm-2 col-12">
            Заголовок:
        </div>
        <div class="col-sm-10 col-12 text-left" th:text="${order.title}">

        </div>

        <div class="col-sm-2 col-12">
            Текст:
        </div>
        <div class="col-sm-10 col-12 text-left" th:text="${order.text}">

        </div>
        <div class="col-sm-2 col-12">
            Лист с задачами :
        </div>
        <div class="col-sm-10 col-12 text-left" id="checklist">
            <div class="check-list">
                <ul id="incomplete-tasks">
                    <li th:each="checkItem : ${order.checkListItemsById}">
                        <span th:if="${checkItem.dateEndWork == null}">-</span>
                        <span th:if="${checkItem.dateEndWork != null}">+</span>
                        <span type="text" th:text="${checkItem.name}"></span>
                    </li>

                </ul>
            </div>
        </div>
        <div class="col-12">
            <p><b>Примечание:</b> '-' невыполненый пункт чеклиста / '+' выполненый пункт чеклиста</p>
        </div>
    </div>
</div>
</body>
</html>