<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/notAuthenticated}">
<head>
    <title>Sign up</title>
</head>
<body>
<div layout:fragment="content">

    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}">
                </div>
            </div>
        </div>
        <div class="card card-signin my-5 fadeInDown">
            <div class="card-body">
                <h5 class="card-title text-center">Register New User</h5>
                <form class="form-signin" th:action="@{/user/signup}" method="post" th:object="${user}">
                    <!--First Name-->

                    <div class="form-label-group">
                        <input name="firstName" type="text" id="firstName" class="form-control"
                               placeholder="First Name" required autofocus th:field="*{firstName}">
                        <label for="firstName">First Name</label>
                    </div>

                    <!--Last Name-->

                    <div class="form-label-group">
                        <input name="lastName" type="text" id="lastName" class="form-control"
                               placeholder="Last Name" required th:field="*{lastName}">
                        <label for="lastName">Last Name</label>
                    </div>

                    <!--Login-->

                    <div class="form-label-group">
                        <input name="login" type="text" id="login" class="form-control"
                               placeholder="Login" required th:field="*{login}">
                        <label for="login">Login</label>
                    </div>

                    <div class="form-label-group">
                        <input name="password" type="password" id="password" class="form-control"
                               placeholder="Password" required>
                        <label for="password">Password</label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
                    <hr class="hr-text" data-content="OR">
                    <a class="btn btn-lg btn-google btn-block text-uppercase" th:href="@{/user/login}">Login</a>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>