<header xmlns:th="http://www.thymeleaf.org"
        th:fragment="header" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img th:src="@{/img/logo200x200.png}" width="30" height="30" class="d-inline-block align-top" alt="">
        Главная
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/users}">Пользователей</a>
            </li>
            <li class="nav-item" th:if="${roleId} < 3">
                <a class="nav-link" th:href="@{/order/}">Приказы</a>
            </li>
            <li class="nav-item" th:if="${roleId} < 3">
                <a class="nav-link" th:href="@{/report/}">Отчеты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/chat/}">Чаты</a>
            </li>
        </ul>

        <div class="form-inline my-2 my-lg-0">
            <a class="nav-link" th:href="@{/logout}">Выйти из системы</a>
        </div>
    </div>
</header>


